# Dependencies
node_modules/
.npm

# Build
dist/
build/

# Environment
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/*.sql

# Testing
coverage/

# Vercel
.vercel

# TypeScript build cache
tsconfig.tsbuildinfo

# Prisma seed compiled output
prisma/seed.js
prisma/seed.js.map
